#main-jumbotron-link
{
	color: white;
	text-shadow: black 0.3em 0.3em 0.3em;
}

#main-jumbotron-link:hover
{
	color: #3366bb;
}

#main-jumbotron
{
  border-radius: 0;
	background-image: url("../images/copenhagen.png");
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-align: left;
	vertical-align: top;
	text-shadow: black 0.3em 0.3em 0.3em;
	height: 100%;
}

#main-jumbotron-text
{
	width: 30%;
}

@media all and (max-width: 767px)
{
	.carousel-showmanymoveone .cloneditem-1,
	.carousel-showmanymoveone .cloneditem-2,
	.carousel-showmanymoveone .cloneditem-3
	{
	  display: none;
	}
}

@media all and (min-width: 768px)
{
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev
  {
    left: -50%;
  }

  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next
  {
    left: 50%;
  }

  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active
  {
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner .cloneditem-1
  {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d)
{
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev
  {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active
  {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}

@media all and (min-width: 992px)
{
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev
  {
    left: -25%;
  }

  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next
  {
    left: 25%;
  }

  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active
  {
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3
  {
    display: block;
  }
}

@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next
  {
    -webkit-transform: translate3d(25%, 0, 0);
            transform: translate3d(25%, 0, 0);
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev
  {
    -webkit-transform: translate3d(-25%, 0, 0);
            transform: translate3d(-25%, 0, 0);
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active
  {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}

#main-jumbotron-text
{
	width: 30%;
}

@media (max-width: 991px)
{
	#main-jumbotron-text
	{
		width: 50%;
	}
}

@media (max-width: 769px)
{
	#main-jumbotron-text
	{
		width: 70%;
	}
}

@media (max-width: 549px)
{
	#main-jumbotron-text
	{
		width: 100%;
	}
}
