a.link:not([href]):not([tabindex])
{
  color: #357AB7;
  cursor: pointer;
}

a.link:hover:not([href]):not([tabindex])
{
  text-decoration: underline;
}

.btn-primary
{
  color: #ffffff;
  background-color: #357ab7;
  border-color: #357ab7;
}

.btn-primary:focus,
.btn-primary.focus
{
  color: #ffffff;
  background-color: #025aa5;
  border-color: #025aa5;
}

.btn-primary:hover
{
  color: #fff;
  background-color: #025aa5;
  border-color: #025aa5;
}

.glyphicon-remove
{
  cursor: pointer;
}

.grey-text
{
	color: #999999;
  cursor: pointer;
}

.grey-text:hover
{
  color: #000000;
  text-decoration: none;
}

.hidden
{
  display: none;
}

.navbar
{
	background: #7db9e8;
	background: -moz-radial-gradient(center, ellipse cover, #7db9e8 0%, #1e5799 44%, #002255 100%, #207cca 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #7db9e8 0%,#1e5799 44%,#002255 100%,#207cca 100%);
	background: radial-gradient(ellipse at center, #7db9e8 0%,#1e5799 44%,#002255 100%,#207cca 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#207cca',GradientType=1 );
  border-bottom: 1px ridge #001948;
	border-top: 1px ridge #001948;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
{
    color: #d1e4f6;
}

.navbar-default .navbar-toggle .icon-bar
{
    background-color: #ffffff;
}

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover {
    background-color: #dddddd;
}

.navbar-default .navbar-nav > li > a
{
    color: #ffffff;
    font-size: 1.1em;
}

.navbar-default .nav>li>a:hover, .nav>li>a:focus
{
    background-color: transparent;
    color: #d1e4f6;
}

.navbar .navbar-brand
{
  color: #ffffff;
  padding-top: 5px;
}

.navbar .navbar-brand img
{
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.navbar-margin
{
  margin-top: 62px;
}

.navbar-margin-lg
{
  margin-top: 112px;
}

.no-padding
{
  padding: 0px;
}

.no-margin
{
  margin: 0px;
}

.panel-primary > .panel-heading
{
  color: #fff;
  background-color: #357ab7;
  border-color: #357ab7;
}

.pointer
{
  cursor: pointer;
}

.site-links
{
	color: #999999;
}

.unbulleted-list
{
	list-style-type: none;
  padding: 0;
}

@media (min-width: 1000px)
{
  #button-submit
  {
    background: url("../images/magnifier.png") no-repeat;
    border-width: 0;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 4px;
    width: 21px;
    height: 22px
  }

  #button-submit:hover
  {
    background: url("../images/magnifier-hover.png") no-repeat;
  }

  #button-submit:active
  {
    background: url("../images/magnifier-hover.png") no-repeat;
    outline:none;
  }

  #button-submit::-moz-focus-inner{border:0}

	#searchbox
	{
		margin-top: 10px;
		background: url("../images/searchbar.png") no-repeat;
		width: 208px;
		height: 29px;
	}

	input:focus::-webkit-input-placeholder{color:transparent}
	input:focus:-moz-placeholder{color:transparent}
	input:focus::-moz-placeholder{color:transparent}


	#searchbox input
	{
		outline: none;
	}

	#searchbox input[type="text"]
	{
		background: transparent;
		margin:3px 0 0 20px;
		padding:5px 0;
		border-width:0;
		font-size: 12px;
		color: #828282;
		width: 70%;
		display: inline-table;
		vertical-align: top;
	}
}

@media (max-width: 999px)
{
	#searchbox
	{
		display: none;
	}

  #button-submit
  {
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 991px)
{
  .navbar-right
  {
    display: inline-block;
  }
}

@media (max-width: 375px)
{
  .navbar-brand
  {
    font-size: 12px;
  }
}
